body {
    font-family: Arial, sans-serif;
    background: #d9c6c6;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    margin-top: 40px;
}

form {
    background: rgb(93, 151, 187);
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
}
